@import 'src/variables';

.dashboard{
  margin: 1rem;
}

.greeting-web{
  display: none;
}

h1{
  padding-bottom: 1rem;
}

h2{
  padding-bottom: 1rem;
}

.lists-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%
}

.list-card-container{
  display: flex;
  flex-direction: column;
}

.reports-container .list-card{
  display: flex;
}

.list-item{
  padding-bottom: 1.5rem;
}

.info-container{
  padding: .75rem;
}

.list-card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 10px;
  margin-bottom: .5rem;
  border: 1px solid $card-border;
  flex-grow: 1;
}

.list-card:hover{
  border: 1px solid $card-border-hover;
}

.list-card:hover h3{
  color:$font-main-color;
}

.list-card p{
  margin-bottom: 0;
}

img{
  border-radius: 10px 10px 0 0;
}

.properties-container img{
  width: 350px;
  max-height: 145px;
  object-fit: fill;
}

.inspections-container img{
  width: 350px;
  max-height: 75px;
  object-fit: fill;
}

.reports-container img{
  border-radius: 10px 0 0 10px;
  max-width: 90px;
  object-fit: cover;
}

.user-greeting{
  color:$font-color2;
}

.dashboard h2{
  color: $font-color3;
}

.dashboard h2:hover{
  color: $font-main-color;
}

.dashboard h3{
  color:$font-color2;
  margin-bottom: 0;
}

p{
  font-family: $body-font;
}

span{
  color: $font-color4;
}

.see-all{
  color: $font-color3;
  text-align: end;
  text-decoration: underline;
  font-weight: bold;
  padding-right:.5rem;
}

.see-all:hover{
  color: $font-main-color;
}

@media screen and (min-width: 700px) {

  .greeting-web{
    display: block;
  }

  .greeting-mobile{
    display: none;
  }
  
  .lists-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .list-item{
    margin-right: 1rem;
    max-width: 350px;
  }
  
  .reports-container.list-item{
    margin-right: 0;
  }
}