@import 'src/variables';

.lists-container{
  display: flex;
  flex-direction: column;
}

.lists-item{
  flex: 100%;
}

img{
  height: 50px;
}

.user-greeting{
  color:$font-color2;
}

.dashboard h2{
  color: $font-color3;
}

.dashboard h3{
  color:$font-color2;
}

.dashboard h3:hover{
  color:$font-main-color;
}

p{
  font-family: $body-font;
}

span{
  color: $font-color4;
}

@media screen and (min-width: 700px) {
  .lists-container{
    flex-direction: row;
  }
  
}