@import 'src/variables';

th, td{
  font-size: 16px;
  margin-right: 4rem;
  padding-right: 2rem;
}

td{
  font-family: $body-font;
}

td.name, td.address{
  font-weight: bold;
}

.properties-container{
  padding: 1.5rem;
}

.header-container{
  padding: 0 1rem;
}

h2{
  color: $font-color2;
  padding-top: 1rem;
}

a{
  display:inline;
  text-decoration: none;
  font-family: $body-font;
  color: $font-main-color;
}

table{
  overflow-x:auto;
}

thead th{
  color: $font-color3;
  border: none;
}

tbody tr{
  background-color: $list-bgc;
  border: .5rem solid $reports-border; 
}

tbody tr:hover{
  background-color: $list-bgc-hover;
}

@media screen and (min-width: 700px) {
  
  th, td{
    font-size: 24px;
  }
}
