@import 'src/variables';

h2{
  color: $font-color2;
}

h3{
  font-family: $body-font;
  font-weight: bold;
}

h3 span{
  color: $font-color4;
  font-weight: normal;
}

button{
  color: $font-color1;
  border: none;
}

button#share{
  background-color: $button-color1;
}

button#download{
  background-color: $button-color2;
}

.pdf-container{
  max-width: 100%;
  height: auto;
}