<div>
  <a class="" routerLink="/reports">
    <img src="" alt="go back">
  </a>
  <h2>Report of {{ report.inspection.property.name }}</h2>
  <h3>for {{ report.inspection.tenant }}</h3>
  <h3>inspection on {{ report.inspection.time }}</h3>

  <button type="button" onclick="">share</button>
  <button type="button" onclick="">download</button>

  <div class="pdf-container">
    <div *ngIf="isLoaded" style="text-align: center;">
      <button (click)="prevPage()" [disabled]="page === 1">Prev</button>
      <span>{{ page }} / {{ totalPages }}</span>
      <button (click)="nextPage()" [disabled]="page === totalPages">Next</button>
    </div>
    <pdf-viewer [src]="pdfSrc" 
                [show-all]="false"
                [page]="page"
                (after-load-complete)="afterLoadComplete($event)"
    ></pdf-viewer>
  </div>
</div>  