@import 'src/variables';

.login-container{
  padding: 1.5rem;
}

.login-container .logo{
  display:block;
  margin: auto;
  padding: 1.5rem;
}

a{
  display:inline;
  text-decoration: none;
  font-family: $body-font;
  color: $font-main-color;
}

.input-container {
  display: flex;
}

button#login{
  background-color: $button-color1;
  border: none;
}

input{
  border: none;
  border-bottom: 1px solid  $field_border;
  font-family: $body-font;
}

input:focus {
  background-color: $field_bgc;
}

.bgi-container .mobile-bgi {
  display: block;
}
.bgi-container .web-bgi {
  display: none;
}

// Media Query

@media screen and (min-width: 700px) {
  .main-container{
    display: flex;
  }
  
  .bgi-container .mobile-bgi {
    display: none;
  }
  .bgi-container .web-bgi {
    display: block;
  }
}