@import 'src/variables';

.sidebar{
  background-color: $nav-bgc;
}

a{
  display:inline;
  text-decoration: none;
  font-family: $main-font;
  color: $font-main-color;
}

nav li:hover{
  background-color: $nav-bgc-hover;
}

.logout{
  color: $font-color1;
}