//Font Colors
$font-main-color: #002942;
$font-color1: #FFFFFF;
$font-color2: #EF7667;
$font-color3: #41BBC0;
$font-color4: #CECECE;


//Bgc Colors
$nav-bgc: #F39B90;
$nav-bgc-hover: #FFFFFF;
$list-bgc: #F6F6F6;
$list-bgc-hover: #FFFFFF;
$field-bgc: #DFDFDF;

//Buttons Colors
$button-color1: #75C7A6;
$button-color2: #F39B90;

//Borders
$nav-border: #FFFFFF;
$nav-accent: #002942;

$reports-border: #FFFFFF;
$field-border: #DFDFDF; //for the text fields

$card-border: #DFDFDF; //for all the cards
$card-border-hover: #002942;

//Typography
$main-font: 'Saira', sans-serif; //those are for the titles and heading
$body-font: 'Montserrat', sans-serif; //those are for body