//Font Colors
$font-main-color: #002942;
$font-color1: #FFFFFF;
$font-color2: #EF7667;
$font-color3: #41BBC0;
$font-color4: #CECECE;


//Bgc Colors
$nav-bgc: #F39B90;
$list-bgc: #F6F6F6;
$field_bgc: #DFDFDF;

//Buttons Colors
$button-color1: #75C7A6;
$button-color2: #F39B90;

//Borders
$nav_border: #FFFFFF;
$field_border: #DFDFDF; //for the text fields
$card_border: #DFDFDF; //for all the cards

//Typography
$main-font: 'Saira', sans-serif; //those are for the titles and heading
$body-font: 'Montserrat', sans-serif; //those are for body